<!DOCTYPE html>
<html>
{% block head %}
<title>
  {% block title %}{% endblock title %}
</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
{% for css in assets(filetype="css") %}
<link rel="stylesheet" href="{{ css | safe }}" />
{% endfor %}
{% endblock head %}
<body>
<div
  class="bg-dark-shade relative overflow-hidden min-h-screen flex flex-col"
>
  <header class="absolute top-0 left-0 right-0 z-20">
    <nav class="max-w-[75rem] mx-auto px-4 sm:px-6 lg:px-8 py-4">
      <div class="md:flex justify-between items-center">
        <div class="flex justify-between items-center">
          <a href="/" class="text-white">
            <svg
              class="w-8 mr-2 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              data-name="Capa 1"
              viewBox="0 0 16.16 12.57"
            >
              <defs></defs>
              <path
                d="M14.02 4.77v7.8H9.33V8.8h-2.5v3.77H2.14v-7.8h11.88z"
              ></path>
              <path d="M16.16 5.82H0L8.08 0l8.08 5.82z"></path>
            </svg>
          </a>
          <div class="md:hidden">
            <button class="text-white focus:outline-none">
              <svg
                class="h-12 w-12"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 6H20M4 12H20M4 18H20"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden md:flex items-center">
          <a href="/about"> About us </a>
          <a href="/contact"> Contact us </a>
        </div>
      </div>
    </nav>
  </header>
  <section id="main">{% block content %}{% endblock content %}</section>
  <div class="flex-shrink bg-dark-secondary">
    <div class="container mx-auto">
      <div class="flex justify-center flex-grow flex-shrink-0 lg:flex-grow-0">
        <div class="flex py-5">
          <p class="text-white text-sm px-5">Conditions of Use</p>
          <p class="text-white text-sm px-5">Privacy Policy</p>
          <p class="text-white text-sm px-5">&copy; 2021 Tim</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% for js in assets(filetype="js") %}
<script async src="{{ js | safe }}"></script>
{% endfor %}
</body>
</html>